<app-top-bar></app-top-bar>

<div class="container">
	<router-outlet></router-outlet>
</div>
<div class="split left">
	<div class="centered">
		<h2>TO DO ITEMS</h2>
		<p>Some text.</p>
	</div>
</div>

<div class="split right">
	<div class="centered">
		<h2>ADD NEW ITEM</h2>
		<p>Some text here too.</p>
	</div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->